@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: pink;
  text-align: center;
}

.judul {
  font-size: 2em;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-color: chocolate; */
}

/* .penjelasan {
  background-color: black;
} */

h2 {
  text-align: left;
}


ul {
  text-align: left;
}

p {
  font-size: 1em;
  color: blue;
}

a {
color: rgb(167, 74, 13);
cursor: pointer;
}

a:visited {
  color:rgb(167, 74, 13);
}

.navlist a:hover{
background-color: white;
display: block;
border-radius: 0.5rem;
}

a:hover, a:active{
  color:#000000;
}

body {
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 0rem;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

/* nav {
  margin: 0 auto 1 rem;
  width: 50em;
  max-width: auto;
  font-size: 1.2rem;
  list-style-type: none;
border: 2px solid black;
border-radius: 0.5em;
color: rgb(100, 51, 59);
background-color: burlywood;
line-height: 2em;
padding: 0 10em 0 0
margin: 20em 20em 30em 0 
}

nav ul {
  list-style-type: none;
  text-align: right;
  font-style: normal;
}

.navlist a{
  text-decoration: none;
  display: block;
  border-bottom: 1px solid black;
  display: block;
  list-style-type: none;
  text-align: center;
  font-style: normal;
} */

/* .navbaru{
font-weight: bold;
display: inline-block;
} */

nav ul {
  text-align: center;]
  margin: 50;
  padding-left: 0;
  padding-top: 0;
  background-color: lightgrey;

  
}

nav li {
  display: inline-block;
}

.block {
  width: 30vw;
  height: 30vw;
  background-color: black;
  color: white;
  padding: 1rem;
}

.left {
  float: left; 
  margin-right: 1rem;
}

.right {
  float: right;
  margin-left: 1rem;
}

.clear {
  clear: both;
}

.paragraf {
  text-align: justify;
}

.special {
  background-color: bisque;
  border: 2px solid brown;
  padding: 1rem;
  display: flow-root;
}