.judul {
  font-size: 2em;
  color: rgb(0, 0, 0);
}

a {
color: rgb(167, 74, 13);
}

a:visited {
  color:rgb(244, 116, 143);
}

a:hover, a:active{
  color:#000000;
}

body {
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

html {
  font-size: 15px;
}